body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;
	user-select: none;

	h1 {
		color: orange;
	}

	.nouns {
		.content {
			width: 20rem;
			margin-bottom: 1rem; 

			.card {
				border-radius: 5px;
				border: 1px solid white;
				background-color: #0b4d0b;
				overflow: hidden;
				cursor: pointer;

				.card-front,
				.card-back {
					font-size: 24px;
					color: white;
					padding-left: 15px;
				}

				.card-front {
					display: flex;
					justify-content: space-between;
				}

				.card-back {
					margin-top: 0.8rem;
					background-color: #103d10;
					padding: 15px;
					.singular {
						color: yellow;
					}

					.plural {
						color: #d03700;
					}
				}
			}
		}
	}
}
